extends layout

block content
    h1.mt-3.mb-3= title
    if category_list.length > 0
        each category in category_list
            ul.list-group.mb-2.col-4
                li.list-group-item.list-group-item-dark.d-flex
                    a.align-self-center.text-reset.text-decoration-none.fs-5.fw-bold(href=`/category/${category._id}`) #{category.name}
                    form.align-self-center.ms-auto(method='POST', action=`/delete/category/${category._id}?_method=DELETE`)
                        button.btn.btn-danger(type='submit')
                            i.bi.bi-trash3
                    a.btn.btn-warning.bi.bi-pencil-square.text-white.align-self-center.ms-2(href=`/category/update/${category._id}`)
                li.list-group-item
                    | &middot; Tip:&nbsp;
                    strong #{category.relation}

    else
        p There are no categories.
