extends layout

block content
    main.container(role='main')
        .starter-template
            p #{document.ownerData}
            h1.mt-3 #{category.name} of #{owner.name}
            .row
                .col.col-auto.d-flex.align-items-stretch
                    .card.card-body
                        h5.card-title Owner Details
                        .card-text.mt-1.fw-medium Full name:&nbsp;
                            text.fw-normal #{owner.name}
                        .card-text.mt-1.fw-medium Email:&nbsp;
                            a.text-decoration-none.fw-normal(href='#') #{owner.email}
                        .card-text.mt-1.fw-medium Phone:&nbsp;
                            text.fw-normal #{owner.phone}
                        a.btn.btn-primary.mt-3(href='#') More info
                .col.col-auto.d-flex.align-items-stretch
                    .card.card-body
                        h5.card-title Document Details
                        .card-text.mt-1.fw-medium ID: &nbsp;
                            text.fw-normal #{document._id}
                            .card-text.mt-1.fw-medium Last updated: &nbsp;
                            if instances.length > 0
                                text.fw-normal #{time_ago(instances[0].update_date_raw)}
                            else
                                | Never
                        .card-text.mt-1.fw-medium Expiry date: &nbsp;
                            if instances.length > 0
                                text.fw-normal #{time_ago(instances[0].expire_date_raw)}
                            else
                                | Never
                        .card-text.mt-1.fw-medium Numeber of instances: &nbsp;
                            text.fw-normal #{instances.length}
            // Display instances details
            h2.mt-3 Instances of Document
            ul.list-group.mb-2
                each instance in instances
                    - let cl = ''
                    - let daysDiff = daysDifference(instance.expire_date_raw)
                    - if (daysDiff > 0) cl = 'list-group-item-danger'
                    - if (daysDiff > -30 && daysDiff <= 0) cl = 'list-group-item-warning'
                    - if (daysDiff <= -30) cl = 'list-group-item-success'
                    .list-group-item(class= cl aria-current='true')
                        .d-flex.w-100.justify-content-between
                            h5.mb-1 Instance ID: #{instance.document_file}
                            small #{time_ago(instance.update_date_raw)}
                        .d-flex
                            if cl === 'list-group-item-danger'
                                small.align-self-end Expired #{time_ago(instance.expire_date_raw)}!
                            else if cl === 'list-group-item-warning'
                                small.align-self-end Expires #{time_ago(instance.expire_date_raw)}. Please Update!
                            else
                                small.align-self-end Expires #{time_ago(instance.expire_date_raw)}.
                            a.btn.btn-success.bi.bi-download.ms-auto(href=`/document_instance/download/${instance.document_file}`)
                            form.align-self-center.ms-2(method='POST', action=`/document_instance/delete/${instance._id}?_method=DELETE`)
                                button.btn.btn-danger(type='submit')
                                    i.bi.bi-trash3
                            .btn.btn-warning.bi.bi-pencil-square.text-white.ms-2(href=`/edit/document_instance/${instance._id}`)



                else
                    p No instances found.

