extends layout

block content
    main.container(role='main')
        .starter-template

            h1.mt-3= title

            if document_list.length > 0
                ul.list-group
                    each document, index in document_list
                        if index%7 === 0
                            li.list-group-item.col-4.list-group-item-dark
                                a(href=`/document/${document._id}`) #{document.category.name}
                                | &nbsp; al &nbsp;
                                a(href=`/document/${document._id}`) #{document.owner.name}
                                a.btn.btn-success.ms-4.float-end(href=`/document/${document._id}`, role='button') View
                        else
                            li.list-group-item.col-4
                                a(href=`/document/${document._id}`) #{document.category.name}
                                | &nbsp; al &nbsp;
                                a(href=`/document/${document._id}`) #{document.owner.name}
                                a.btn.btn-success.ms-4.float-end(href=`/document/${document._id}`, role='button') View

                            if index%7 === 6
                                br

                        //a.list-group-item.list-group-item-primary(href=`/owner/${document.owner._id}`) "&middot; #{document.owner.name}
                        //a.list-group-item.list-group-item-primary(href=`/category/${document.category._id}`) &middot; #{document.category}
                        //if document.status == "Updated"



            else
                p There are no owners.
