extends layout

block content
    main.container(role='main')
        .starter-template

            h1.mt-3= title
            p
                | Document ID: #{document._id}
            p
                | Document Owner: #{owner.name}
            p
                | Document Category: #{category.name}

            h2 Owner Details
            p
                | Owner ID: #{owner._id}
            p
                | Owner Name: #{owner.name}

            h2 Category Details
            p
                | Category ID: #{category._id}
            p
                | Category Name: #{category.name}

            // Display instances details
            h2 Instances of Document
            ul.list-group.mb-2
                each instance in instances
                    if daysDifference(instance.expire_date_raw) > 0
                        a.list-group-item.list-group-item-danger(href='#', aria-current='true')
                            .d-flex.w-100.justify-content-between
                                h5.mb-1 Instance ID: #{instance.document_file}
                                small #{time_ago(instance.update_date_raw)}

                            //p.mb-1 Expire Date: #{daysDifference(instance.expire_date_raw)}
                            small Expires #{time_ago(instance.expire_date_raw)}
                    else if daysDifference(instance.expire_date_raw) > -30
                        a.list-group-item.list-group-item-warning(href='#', aria-current='true')
                            .d-flex.w-100.justify-content-between
                                h5.mb-1 Instance ID: #{instance.document_file}
                                small #{time_ago(instance.update_date_raw)}

                            //p.mb-1 Expire Date: #{daysDifference(instance.expire_date_raw)}
                            small Expires #{time_ago(instance.expire_date_raw)}
                    else
                        a.list-group-item.list-group-item-success(href=`/download/${instance.document_file}`, aria-current='true')
                            .d-flex.w-100.justify-content-between
                                h5.mb-1 Instance ID: #{instance.document_file}
                                small #{time_ago(instance.update_date_raw)}

                            //p.mb-1 Expire Date: #{daysDifference(instance.expire_date_raw)}
                            small Expires #{time_ago(instance.expire_date_raw)}
                else
                    p No instances found.

