extends layout

block content

    h1.mt-3.mb-3= title

    if errors
        for error in errors
            .alert.alert-warning.alert-dismissible.fade.show.col-4(role='alert')
                | #{error.msg}
                button.btn-close(type='button', data-bs-dismiss='alert', aria-label='Close')

    form.col-4(method='POST' action='' enctype='multipart/form-data')
        div.form-group
            label(for='category') Category:
            select#category.form-control(type='select', name='category', required='true')
                for category in categories_list
                    option(value=category._id) #{category.name}

        div.form-group.mt-2
            label(for='owner') Owner:
            select#owner.form-control(type='select', name='owner', required='true')
                for owner in owners_list
                    option(value=owner._id ) #{owner.name}

        div.form-group.mt-2
            label(for='update_date_raw') Update Date:
            input#update_date_raw.form-control(type='date' name='update_date_raw')

        div.form-group.mt-2
            label(for='expire_date_raw') Expire Date:
            input#expire_date_raw.form-control(type='date' name='expire_date_raw')

        div.form-group.mt-2
            label(for='document_file') Document File:
            input#document_file.form-control(type='file' name='document_file')

        button.btn.btn-primary.mt-3(type='submit') Submit
