extends layout

block content
    h1.mt-3.mb-3= title
    if owners_list.length > 0
        each owner in owners_list
            ul.list-group.mb-2.col-4
                li.list-group-item.list-group-item-dark.d-flex
                    a.flex-fill.align-self-center.text-reset.text-decoration-none.fs-5.fw-bold(href=`/owner/${owner._id}`) #{owner.name}
                    form.align-self-center.ms-2(method='POST', action=`/delete/owner/${owner._id}?_method=DELETE`)
                        button.btn.btn-danger(type='submit')
                            i.bi.bi-trash3
                    a.btn.btn-warning.bi.bi-pencil-square.text-white.ms-2.align-self-center(href=`/owner/update/${owner._id}`)
                li.list-group-item &middot; #{owner.phone}
                li.list-group-item &middot; #{owner.email}
    else
        p There are no owners.
